:root {
  /* Colors */
  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-self-care: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --white: #ffffff;
  --dark-blue-hover: #33397a;

  /* Typography */
  --font-family: "Rubik", sans-serif;
  --font-size-title: 1.125rem;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
}

/* CSS RESET */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;
  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
  min-height: 100svh;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--very-dark-blue);
  color: var(--pale-blue);
  padding: 1rem;
  display: grid;
  place-content: center;
}

.profile {
  background-color: var(--dark-blue);
  padding-block-end: 1.25rem;
  border-radius: 15px;
  margin-block-end: 1.25rem;
}

.profile__header {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  background-color: var(--blue);
  padding: 1.6rem;
  border-radius: 15px;
  margin-block-end: 1.25rem;
}

.profile__image {
  width: 64px;
  height: 64px;
  border: 3px solid var(--white);
  border-radius: 50%;
}

.profile__title {
  font-size: 0.9375rem;
  font-weight: var(--fw-regular);
}

.profile__name {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: var(--fw-light);
}

.profile__nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.profile__nav-link {
  color: var(--desaturated-blue);
  font-size: var(--font-size-title);
  font-weight: var(--fw-regular);
  transition: all 0.3s ease;
}
.profile__nav-link:hover,
.profile__nav-link.active {
  color: var(--white);
}

.activity-card {
  border-radius: 15px;
  margin-block-end: 1.25rem;
  overflow: hidden;
}

.activity-card--work {
  background: linear-gradient(
    var(--light-red-work) 0%,
    var(--light-red-work) 50%,
    transparent 50%,
    transparent 100%
  );
}

.activity-card--play {
  background: linear-gradient(
    var(--soft-blue-play) 0%,
    var(--soft-blue-play) 50%,
    transparent 50%,
    transparent 100%
  );
}

.activity-card--study {
  background: linear-gradient(
    var(--light-red-study) 0%,
    var(--light-red-study) 50%,
    transparent 50%,
    transparent 100%
  );
}

.activity-card--exercise {
  background: linear-gradient(
    var(--lime-green-exercise) 0%,
    var(--lime-green-exercise) 50%,
    transparent 50%,
    transparent 100%
  );
}

.activity-card--social {
  background: linear-gradient(
    var(--violet-social) 0%,
    var(--violet-social) 50%,
    transparent 50%,
    transparent 100%
  );
}

.activity-card--self-care {
  background: linear-gradient(
    var(--soft-orange-self-care) 0%,
    var(--soft-orange-self-care) 50%,
    transparent 50%,
    transparent 100%
  );
}

.activity-card__header {
  height: 36px;
  background-position: top -7px right 20px;
  background-repeat: no-repeat;
}

.activity-card__content {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activity-card__content:hover {
  background-color: var(--dark-blue-hover);
}

.activity-card__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-card__title {
  font-size: var(--font-size-title);
  font-weight: var(--fw-medium);
  color: var(--white);
}

.dots {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
}

.fa-circle {
  color: var(--pale-blue);
  font-size: 0.25rem;
  transition: color 0.3s ease;
}

.dots:hover .fa-circle {
  color: var(--white);
}

.activity-card__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-card__current {
  font-size: 2rem;
  font-weight: var(--fw-light);
  color: var(--white);
}

.activity-card__previous {
  font-size: 0.9375rem;
  color: var(--pale-blue);
}

/* Background images for each card type */
.activity-card--work .activity-card__header {
  background-image: url("../assets/images/icon-work.svg");
}

.activity-card--play .activity-card__header {
  background-image: url("../assets/images/icon-play.svg");
}

.activity-card--study .activity-card__header {
  background-image: url("../assets/images/icon-study.svg");
}

.activity-card--exercise .activity-card__header {
  background-image: url("../assets/images/icon-exercise.svg");
}

.activity-card--social .activity-card__header {
  background-image: url("../assets/images/icon-social.svg");
}

.activity-card--self-care .activity-card__header {
  background-image: url("../assets/images/icon-self-care.svg");
}

@media (min-width: 48rem) and (max-width: 63.99rem) {
  .container {
    max-width: 60rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
  }

  .profile {
    grid-column: span 1;
    margin-block-end: initial;
  }

  .activity-cards {
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .activity-card {
    margin-block-end: initial;
  }

  .activity-card__content {
    padding: 1.5rem;
  }

  .activity-card__time {
    flex-direction: column;
    align-items: initial;
  }

  .activity-card__current {
    font-size: 2.5rem;
  }
}

@media (min-width: 64rem) {
  .container {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .profile {
    grid-column: span 1;
    padding-block-end: initial;
    margin-block-end: initial;
  }

  .profile__header {
    flex-direction: column;
    align-items: initial;
    gap: 2.5rem;
    padding-block-end: 4.9rem;
    margin-block-end: initial;
  }

  .profile__image {
    width: 78px;
    height: 78px;
  }

  .profile__name {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .profile__nav-list {
    flex-direction: column;
    padding: 1.6rem 0 0 1.6rem;
  }

  .profile__nav-link {
    display: block;
    margin-bottom: 0.6rem;
  }

  .activity-cards {
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .activity-card {
    margin-block-end: initial;
  }

  .activity-card__content {
    padding: 2rem;
  }

  .activity-card__time {
    flex-direction: column;
    align-items: initial;
  }

  .activity-card__current {
    font-size: 3.5rem;
  }
}
